/*--------container-buttons--------------------*/


.container-specials-buttons{
  grid-column: span 3;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-operator-buttons{
  grid-row: span 4;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.highlighted{
  display: grid;
  background-image: linear-gradient(to right, #0f9df2, #11415e);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px #11415e;
  align-items: center;
  border: none;
  overflow: hidden;
}

.highlighted button{
  border-radius: 3px;
}

.buttons{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 70%;
  gap: 15px;
  background-color: rgb(5, 12, 23);
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

button{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

button:hover
{
 background-image: linear-gradient(to right, #d61414, #641327);
 box-shadow: 0px 0px 2px 1px #641327;
}

button:active
{
 background-image: linear-gradient(to right, #88d63b, #d4f324);
 box-shadow: 0px 0px 2px 1px #88d63b;
 color: black;
}


/*---------buttons details-----------------------*/

.button-c{
  padding-top: 8px;
}