
header{
  background-image: linear-gradient(to right, #0f9df2, #11415e);
  width: 40%;
  min-width: 345px;
  color: white;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(5, 10, 14, 0.842);
  border-radius: 0 5px 35px 0;
 
}

header span:nth-child(2){
  padding-top: 5px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
}