@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.container-main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.body-calculator{
  width:246px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  background-color: black;
  color: white;
  box-shadow: 19px 3px 15px -8px rgba(64, 63, 63, 0.75);
}

.screen{
  color: white;
  height: 25%;
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  font-weight:bold;

}

.buttons{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 70%;
  gap: 2px;
  background-color: rgb(2, 24, 24);
  border-radius: 20px 20px 0 0;
}

button{
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.button-zero{
  grid-column: span 2;
  border-radius: 40px;
}

.brand{
  grid-column: span 4;
  background-image: radial-gradient(circle at 50% -3.03%, #4d4347 0, #443f40 12.5%, #3b3a3a 25%, #303534 37.5%, #24302f 50%, #172b2b 62.5%, #082627 75%, #002125 87.5%, #001d23 100%);
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  height: 10%;
  width: 100%;
}