@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.container-main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 30px 0;
}

.body-calculator{
  width:246px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  background-color: black;
  color: white;
  box-shadow: 19px 3px 15px -8px rgba(64, 63, 63, 0.75);
}

/*--------header-calculator-----------*/
.header-calculator{
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
  width: 100%;
}

.header-calculator span:nth-child(2){
  color:#0f9df2;
}

/*---------------------BRAND---------------------*/

.brand{
  grid-column: span 4;
  background-image: linear-gradient(to right, #0f9df2, #11415e);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  
}

.brand span{
  display: inline-flex;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  transition: all 1000ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.brand span:hover{
  transform: rotate3d(0, 1, 0, 360deg) scale(1.5);
}

